@media (max-width: 769px) {
    .nav_links {
        display: none !important;
    }

    .desktop_nav nav {
        margin: 0px 5px;
    }

    .toggle {
        display: block;
    }

    .logo img {
        width: auto;
        height: 60px;
    }
}